#app {
    height: unset;
    margin: 0;
    min-height: auto;
}
.mobiles .navbar-light .navbar-brand {
    position: absolute;
    margin-left: 13%;
    top: 0;
}
.mobile li.nav-item.section-auth {
    display: block;
    position: fixed;
    right: 0;
    top: 2%;
}
.mobile li.nav-item.dropdown.profile-dropdown {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
}
.navbar-brand {
    margin-left: 10px;
}
.auth-page h1,
.auth-page h2,
.nav-brand-v2,
.resend-padding {
    margin-left: 0;
}
.footer-navbar-brand img,
.navbar-brand img {
    width: 150px;
}
#navbarSupportedContent ul {
    padding-top: 0;
    padding-left: 20px;
}
#navbarSupportedContent li.nav-item {
    padding: 0.2rem 0.15rem !important;
}
.navbar-light .navbar-toggler {
    position: fixed;
    top: 3%;
}
.profile-dropdown {
    background: #520e33;
    text-align: right;
    width: min-content;
    padding: 0.775rem 0 !important;
}
.navbar-nav .profile-dropdown.open .dropdown-menu {
    position: static;
    float: none;
    background-color: unset;
    border: none;
}
.navbar-nav .profile-dropdown.open .dropdown-menu a {
    color: #fff;
}
.dropdown-menu-arrow:after,
.dropdown-menu-arrow:before {
    content: none;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    z-index: 1001;
}
.banner-section-text {
    margin-top: 30%;
}
.footer-navbar-brand {
    width: unset;
    display: inline-block;
}
.footer-navbar-brand-v2 {
    width: 59%;
}
.footer-navbar-brand-v2 img {
    width: 57%;
}
.footer-span img {
    width: 12%;
}
.auth-login {
    background: url(/images/backgrounds/login_side_image.png) 0 0 / cover no-repeat;
    border-left: 50px solid #fff;
    height: 34%;
    border-left: none;
    padding: 40% 2%;
}
.auth-page .card.login {
    padding: 4% 0 0;
    border: none;
}
.auth-page h1 {
    color: #404040;
    font-size: 24px;
    margin-bottom: 0.1rem;
    font-weight: 600;
    text-align: center;
}
.auth-page h2,
.upcoming-card.upcoming-side p {
    font-size: 18px;
}
.auth-page h2 {
    color: #707070;
    text-align: center;
}
.remember-me {
    margin-left: 28%;
}
.reset-pass {
    float: right;
    margin-right: 0;
    margin-top: 0;
}
video#bghid,
video#bgvid {
    width: 100%;
    float: left;
    margin-top: 0;
    height: unset;
}
.general-section .banner-section-text {
    margin-top: 2%;
}
.btn.btn-outline-dark.btn-cancel,
.button.button-submit {
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}
.downloable-table tr td.downloable-table-first,
.session-panel .nav-tabs li {
    width: 50%;
}
.nav-tabs a {
    font-size: 15px;
    color: #404040;
}
.tabs-spacing {
    padding-left: 1rem;
}
.session-card-calendar {
    display: block;
    padding-bottom: 5px;
    margin-left:5px;
}
.session-calendar {
    color: #5b9fdd;
    font-size: 11px;
  }
.no-padding-right {
    padding-right: 15px !important;
}
.no-padding-left {
    padding-left: 15px !important;
}
.rating {
    margin-bottom: 2rem;
}
.previous_h2 {
    color: #404040;
    font-weight: 600;
    font-size: 23px;
}
.session_details-panel .nav-pills .nav-item a {
    font-size: 12px;
    color: #404040;
}
.session-tabs {
    box-shadow: 4px 4px 8px #0000004d;
    background: #fff;
    padding-left: 0;
}
.session_details-panel .session-tabs {
    min-width: 135%;
}
.session-tabs li.nav-item {
    padding: 1rem 0.2rem;
}
.session-tabs a {
    padding: 5px 2px;
    font-size: 12px;
    border: none;
}
.session_details-panel .session-tabs .nav-item.active a {
    background: #f87522;
    border: 2px solid #f87522;
    color: #fff;
    padding: 5px 2px !important;
    border-radius: 22px;
}
.submitbuttons {
    margin-top: 1rem;
    text-align: right;
    display: flex;
}
.btn.btn-outline-dark.btn-cancel {
    border-radius: 16px;
    background-color: none;
    border: none;
    color: #707070;
}
.button.button-submit {
    background-color: #6fc6b8;
    border-radius: 26px;
    border: none;
    color: #fff;
}
.btn-overall.btn_login,
.btn-overall.btn_login_active {
    background: 0 0;
    padding: 0.1rem 0.2rem !important;
    height: 30px;
}
#file-upload-form {
    margin: 2rem auto auto;
    width: 100%;
}
.dropzone-wrapper {
    border: 2px dashed #c2cdda;
    color: #707070;
    position: relative;
    height: 300px;
}
.navbar-expand-md .navbar-nav .nav-link {
    font-size: 15px;
    padding: 0.45rem;
}
.navbar-expand-md .navbar-nav .nav-link.dropdown-item {
    font-size: 13px;
    padding: 0.45rem;
}
.top-general {
    margin: 10% 0 0;
}
section.top-general {
    margin: 5% 0 0;
}
.btn-overall.btn_login {
    border: 2px solid #520e33;
    color: #520e33;
    width: 78px;
    flex-grow: 0;
}
.btn-overall.btn_login_active {
    border: 2px solid #282828;
    color: #282828;
    width: 82px;
    flex-grow: 0;
}
.alignment-class {
    margin: 0 2%;
}
.mobile-container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}
.home-banner .banner-section-text {
    margin-top: 2%;
    padding: 15px 15px 0;
}
.sessions-card article .thumbnail img {
    min-height: 145px;
    max-height: 200px;
    /* max-height:175px; */
}
.sessions-card article {
    /* min-height: 420px; */
    min-height:270px;
    max-height: 430px;
}
.footer-span {
    padding: 2% 0;
    margin-left: 0;
}
.footer-description,
.footer-heading {
    padding-inline-start: 0;
    color: #520e33;
}
.footer-heading {
    font-family: CenturyGothicBold;
    margin-top: 1rem;
    margin-bottom: 0;
}
.footer-description {
    margin-bottom: 1rem;
}
.replies {
    margin-left: 0;
    font-size: 12px;
}
.resource-span-icon img {
    width: 20px;
}
.like-mobile {
    margin-right: 10px;
}
.downloable-table tr td.downloable-table-second a,
.like-count .fa {
    font-size: 14px;
}
.share img {
    width: 16px !important;
}
.downloable-table {
    width: 100%;
    margin-top: 1rem;
}
.download-span-icon img {
    width: 16px;
}
.contact-card article {
    min-height: 436px;
    max-height: 610px;
    padding: 20px 40px;
}
.contact-tablet-card article {
    min-height: 436px;
    max-height: 700px;
    padding: 20px 40px;
}
.f-breadcrumb {
    margin-left: 2rem;
}
.f-spacing {
    margin-top: 4rem;
}
.mobile-space {
    margin-left: 10%;
}
.auth-page .card.login.register {
    padding: 0;
    border: none;
}
@media (max-width: 768px) {
    .footer-span {
        text-align: start;
    }
    .navbar-brand {
        margin-left: 10px;
    }
    .navbar-brand img {
        width: 185px;
    }
    .home-banner.mobile-banner {
        margin-top: 11%;
    }
    .btn-overall.btn_login {
        background: 0 0;
        border: 2px solid #520e33;
        color: #520e33;
        padding: 0.1rem 0.2rem !important;
        width: 78px;
        height: 36px;
        flex-grow: 0;
    }
    .btn-xs-mobile{
        margin-top:1.5rem !important;
    }
}
@media (max-width: 767px) {
    section.top-general {
        margin: 25% 0 0;
    }
    .footer-navbar-brand img {
        width: 100%;
    }
    .footer-span img {
        width: 20%;
    }
    .upcoming-card.upcoming-side p,
    .whatYouGetListing {
        font-size: 16px;
        padding-top: 15px;
    }
    .f-breadcrumb,
    .mobile-space {
        margin-left: 0;
    }
    .f-spacing {
        margin-top: 2rem;
    }
    .auth-page .card.login {
        padding: 22% 0 0;
        border: none;
    }
    .auth-page .card.login.register {
        padding: 13% 0;
        border: none;
    }
    .ttk-course-details .jarallax-img {
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
    .jarallax .content,
    .ttk-course-details .inline-video-jarallax .content {
        margin-top: -35%;
        margin-left: 12px;
    }
    .ttk-course-details .breadcrumb {
        margin-left: 0;
        margin-top: 5px;
        background-color: transparent;
        margin-bottom: 0;
    }
}
@media (min-width: 620px) and (max-width: 767px) {
    .home-banner .banner-section-text {
        margin-top: 20%;
        padding: 15px 15px 0;
    }
    .home-banner.mobile-banner {
        margin-top: 31%;
    }
}
@media (max-width: 620px) {
    .home-banner .banner-section-text {
        margin-top: 20%;
        padding: 15px 15px 0;
    }
    .home-banner.mobile-banner {
        margin-top: 14%;
    }

}
@media (max-width: 420px){
    .home-banner.mobile-banner {
        margin-top: 21%;
    }
    .btn-xs-mobile{
        margin-top:unset !important;
    }
}

@media (max-width: 320px) {
    .jarallax-img {
        height: 250px;
    }
    .top-general {
        margin: 20% 0 0;
    }
    section.top-general {
        margin: 33% 0 0;
    }
}
@media (max-width: 280px) {
    .jarallax-img {
        height: 250px;
    }
    .top-general,
    section.top-general {
        margin: 8% 0 0;
    }
}
.want-account {
    text-align: left;
    margin-top: 2%;
    color: #888;
    font-size: 14px;
}
.fa-power-off {
    color: #520e33;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar-text {
    padding-right: 4rem;
    padding-top: 0;
}
.logout-text {
    font-size: 1rem;
    font-family: inherit;
}
.logout-link {
    text-decoration: none;
}
@media (max-width: 328px) {
    .navbar-light .navbar-toggler {
        position: fixed;
        top: 3%;
        right: 1%;
    }
    .navbar-text {
        padding-right: 3rem;
        padding-top: 0;
    }
}

.sessions-card .card-footer {
    position: absolute;
    top: 76%;
    padding: 0.75rem 1.25rem;
    background-color: unset;
    border-top: none;
    width: 96%;
    margin-left: -10px;
}

.carousel.slide.second-slider {
    background: #FE6D01;
    color: #fff;
    position: absolute;
    top: 92%;
    right: 0;
    max-width: 427px;
    min-height: 238px;
    z-index: 1000;
}
@media (max-width:768px) {
.carousel.slide.second-slider{
    background: #FE6D01;
    color: #fff;
    position: relative;
    min-height: 255px;
    width: 100%;
    max-width: 100%;
}

}
.carousel.slide.second-slider .carousel-item.item{
    padding: 5px 60px;
    margin-left: 2rem;
    right: 2rem;
}


.carousel.slide.second-slider .carousel-item.item img {
    height: unset;
    width: 70%;

}


.carousel.slide.second-slider .carousel-item.item.second-item{
    padding-top: 20px;
}

.special-h1{
    font-size:35px
}

.play-header {
    font-weight: 800;
    padding-bottom: 30px;
    font-size: 29px;
}

.overlay-inside-right{
    display:inline-flex;
    margin-top:15px;

}

.icon-tip-mobile {
    /* background-image: url(/images/icons/quick_tip.svg); */
    margin-left: 0.1rem;
    margin-right: auto;
}
.icon-pro-mobile {
    /* background-image: url(/images/icons/pro_tag.svg); */
    margin-left: 0.1rem;
    margin-right: auto
}
