// Variables
@import "~craftable/scss/variables";

// Vendor
@import '~@coreui/icons/css/coreui-icons.min.css';
@import '~font-awesome/scss/font-awesome.scss';
@import '~simple-line-icons/scss/simple-line-icons.scss';

@import "~@coreui/coreui/scss/bootstrap/functions";
@import "~@coreui/coreui/scss/bootstrap/variables";
@import "~@coreui/coreui/scss/bootstrap/mixins";

@import "~@coreui/coreui/scss/bootstrap/images";
@import "~@coreui/coreui/scss/bootstrap/code";
@import "~@coreui/coreui/scss/bootstrap/tables";
@import "~@coreui/coreui/scss/bootstrap/forms";
@import "~@coreui/coreui/scss/bootstrap/buttons";
@import "~@coreui/coreui/scss/bootstrap/transitions";
@import "~@coreui/coreui/scss/bootstrap/dropdown";
@import "~@coreui/coreui/scss/bootstrap/button-group";
@import "~@coreui/coreui/scss/bootstrap/input-group";
@import "~@coreui/coreui/scss/bootstrap/custom-forms";
@import "~@coreui/coreui/scss/bootstrap/card";
@import "~@coreui/coreui/scss/bootstrap/breadcrumb";
@import "~@coreui/coreui/scss/bootstrap/pagination";
@import "~@coreui/coreui/scss/bootstrap/badge";
@import "~@coreui/coreui/scss/bootstrap/jumbotron";
@import "~@coreui/coreui/scss/bootstrap/modal";
@import "~@coreui/coreui/scss/bootstrap/tooltip";
@import "~@coreui/coreui/scss/bootstrap/popover";
@import "~@coreui/coreui/scss/bootstrap/utilities";
@import "~@coreui/coreui/scss/bootstrap/print";

@import "grid";

// @import "~craftable/scss/vendor/index";

@import "~craftable/scss/overrides/keyframes";
@import "~craftable/scss/overrides/buttons";
@import "~craftable/scss/overrides/checkboxes";
@import "~craftable/scss/overrides/forms";
@import "~craftable/scss/overrides/multiselect";
@import "~craftable/scss/overrides/cards";
@import "~craftable/scss/overrides/tables";
@import "~craftable/scss/overrides/modal";
@import "~craftable/scss/overrides/pagination";
@import "~craftable/scss/overrides/text";

.td-with-sm {
    max-width: 200px;
}
.btn-primary {
    background: #1d9f3c;
    color: #fff;
    border-color: #1d9f3c;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1d9f3c;
    border-color: #1d9f3c;
}
.card-header{
	color: #3278b8;
}
.page-item.active .page-link, .pagination-datatables li.active .page-link, .pagination li.active .page-link, .page-item.active .pagination-datatables li a, .pagination-datatables li .page-item.active a, .pagination-datatables li.active a, .page-item.active .pagination li a, .pagination li .page-item.active a, .pagination li.active a {
    background-color: #8c8c8c;
    border-color: #8c8c8c;
}
.page-link {
    color: #8c8c8c;
}

.page-link:hover {
    color: #8c8c8c;
}
.table-listing {
    font-size: 13px;
    line-height: 16px;
	width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
h6.segment_description {
    font-size: 0.9rem;
}
