<template>
  <div class="action">
    <a class="continue" :href="likeaction"><p> <span class="icons"><img
      :src="'/images/icons/clap.png'"  style="width: 20px;"
    ></span>  <span>Kudos</span>  <span class="numbers">{{likes}}</span></p></a>
    <a  class="continue"  :href="commentaction"><p><span class="icons"><i class="fa fa-star" aria-hidden="true"></i></span> <span>Follow</span> <span class="numbers">{{followers}}</span></p></a>
    <a  class="continue" @click="isShowing ^= true" ><p><span class="icons"> <i class="fa fa-comment" aria-hidden="true"></i></span> <span>Comment</span> <span class="numbers">{{commentcount}}</span> </p></a>
     <button v-on:click="isShowing = !isShowing">Click Me</button>
  </div>
</template>

<style lang="scss" scoped>
.action {
display: grid;
    position: absolute;
    right: 0;
    width: 80%;
  a {
    padding: 5px;
    margin-top: 5px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
  }
  a:hover{
  text-decoration: none;
  }
  a.continue,a.passed-retaking{
    background: #662F8E;
    padding: 5px !important;
    color: #fff !important;
   font-size: 14px !important;
   float: right;
   font-weight: unset !important;
  }
  a.failed, a.failed-retaking{
  background: #F68B1F;
  padding: 5px !important;
  color: #fff !important;
  font-size: 14px !important;
  float: right;
  font-weight: unset !important;
  }

  a.complete{
    background: rgba(171, 200, 55, 1);
    padding: 5px !important;
    color: #fff !important;
   font-size: 14px !important;
   float: right;
   font-weight: unset !important;
  }
  p{
    padding:5px !important;
    color: #fff !important;
    font-size: 14px !important;
    float: right;
    text-align:center !important;
    span{
    padding-right: 5px;
    margin-right: 5px;
    }
  .numbers{
  float: right;
    border: left;
    border-left: 1px solid;
    padding-left: 5px;
}
.icons{
float: left;
}
  }
  p.prog{
  background:rgba(102, 47, 142, 1);
  }
  p.failed{
  background:rgba(246, 139, 31, 1);
  }
  p.complete{
  background: rgba(171, 200, 55, 1);
  }

.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}
}
</style>

<script>
export default {
  data: function() {
    return {
      passMark: 0.8,
    

    };
  },
  props: ["mobile", "status", "likes", "likeaction","action","followers","commentcount","commentaction"],
  computed: {
    actionType: function() {
      if (this.status == "Completed") {
        this.completed = true;
      }
      if (this.status == "Completed but Failed") {
        this.completed = true;
      }
    }
  }
};
</script>
