<template>
<div class="my-achievement row no-gutters ">
    <div class="col-2">
      <img v-bind:src="image" alt="Course" class="preview-img">
    </div>
    <div class="col-8">
    <div class="course-title">
      <div class="title"><a target="_blank"  :href="link">{{ title }}</a></div>
      <div class="sub-title"> Start Date: {{start}}  | {{enrolled}} people have enrolled</div>
      </div>
      <div class="achievements">
          <div
            v-for="achievement in achievements"
            v-bind:key="achievement.icon"
            class="achievement"
          >
            <img
              :src="'/images/achievements/'+achievement.icon"
              :alt="achievement.title"
              data-toggle="tooltip"
              data-placement="right"
              :title="achievement.title"
            >
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="col-4"></div>
        <course-action
          mobile="0"
          :status="status"
          :prev-score="prevScore"
          :current-score="currentScore"
          :action="action"
        ></course-action>
      </div>
  </div>
</template>

<style lang="scss" scoped>
.my-achievement {
    padding: 0 0;
    border-bottom: 1px solid #ccc;
  .preview-img {
    width: 100%;
    // height: 136px;
    height:unset;
    object-fit: cover;
    padding: 0 0;
  }
  .course-title {
    text-align: left;
    padding-left:2%;
    .title {
      padding: 10px 0;
      a{
        font-size: 18px;
        color: #404040;
    font-weight: bold;
      }
    }
    .sub-title{
      font-size: 14px;
      color: #707070;
    }
    .row {
    margin-bottom: 1%;
    margin-top: 1%;
    }
  }
  .achievements{
      display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    align-content: center;
    text-align: center;
    margin-top: 1%;
    padding-left: 1%;
    .achievement {
      margin: 0 1%;
      text-align: center;
      img {
        cursor: pointer;
      }
    }
  }
}
</style>


<script>
import CourseAction from "./CourseAction.vue";

export default {
  components: {
    CourseAction
  },
  data: function() {
    return {};
  },
  props: [
    "title",
    "image",
    "date",
    "start",
    "end",
    "enrolled",
    "progress",
    "status",
    "prevScore",
    "currentScore",
    "action"
  ],
  computed: {
    achievements: function() {
      const achieved = [];

      if (this.status == "Completed") {
        this.completed = true;
      }
      //console.log(this.status);

      //Started course
      if ((this.status == "In Progress") || (this.completed) || (this.status == "Completed but Failed")) {
        achieved.push({
          icon: "Icon_Start_Course.png",
          title: "You have started a course you enrolled in."
        });
      } else {
        achieved.push({
          icon: "Icon_Start_Course_Grey.png",
          title: "You have started a course you enrolled in."
        });
      }


      //Scored more than 79%
      if ((this.completed) || (this.status == "Completed but Failed")) {
        achieved.push({
          icon: "Icon_1_Star.png",
          title: "You have completed course with a score above 74%."
        });
      } else {
        achieved.push({
          icon: "Icon_1_Star_Grey.png",
          title: "You have completed a course successfully."
        });
      }

      //Finished course
      if ((this.completed) & (this.currentScore > 75)) {
       achieved.push({
          icon: "Icon_Finished_Course.png",
          title: "You have completed a course successfully."
        });
      } else {
        achieved.push({
          icon: "Icon_Finished_Course_Grey.png",
          title: "You have completed a course successfully."
        });
      }

      return achieved;
    }
  }
};
</script>
