<template>
  <div class="row no-gutters my-course-mobile">
    <div class="col-12">
      <img v-bind:src="image" alt="Course" class="preview-img">
    </div>
    <div class="col-12">
    <div class="course-title container">
      <h3 class="title text-blue">{{ title }}</h3> 
      <div class="sub-title">
        <p>Start Date: {{start}} </p>
        <p>{{enrolled}} people have enrolled</p>
      </div>
      </div>
    <div class="col-12">
      <div class="row no-gutters">
        <div class="col stats">
          <h6>Enrolled:</h6>
          <p>{{date}}</p>
        </div>
        <div class="col stats">
          <h6>Completed:</h6>
          <p v-if="completed">Completed</p>
          <p v-else>Incomplete</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col stats">
          <h6>Score:</h6>
          <div class="single-chart">
          </div>
          <p>{{progress}}%</p>
        </div>
        <!-- <div class="col stats">
          <h6>Prev Score:</h6>
          <p>{{prevScore}}%</p>
        </div> -->
      </div>
      </div>
    </div>
    <div class="col-md-8 offset-md-2">
      <course-action-mobile
        mobile="0"
        :status="status"
        :completed="completed"
        :prev-score="prevScore"
        :current-score="currentScore"
        :action="action"
        :evaluate="evaluate"
        :evalaction="evalaction"
      ></course-action-mobile>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.my-course-mobile {
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 5%;
  .preview-img {
    overflow: hidden;
    height: 155px;
    width: 100%;
    padding: 0;
    object-fit: contain;
  }
  .text-blue{
    color:#404040;
  }
  .sub-title{
    padding-bottom: 10px;
    p{
    text-align: left;
    padding: 0;
    color:#C0C0C0;

    }
  }  
  .stats {
    h6{
      color: #5EA0DB;
      font-size:16px;
    }
    p {
    text-align: left;
    padding: 0 0 5% 0;
    }
  }
}



@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: opacity 0.2s;
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
}
</style>


<script>
import CourseActionMobile from "./CourseActionMobile.vue";

export default {
  components: {
    CourseActionMobile
  },
  data: function() {
    return {
      passMark: 70,
      more: false
    };
  },
  props: [
    "title",
    "image",
    "date",
    "status",
    "progress",
    "prevScore",
    "currentScore",
    "action",
    "start",
    "enrolled",
    "evaluate",
    "evalaction"

  ],
  computed: {
    completed: function() {
      if (this.status == "Completed") {
        this.completed = true;
      }
    },
    actionType: function() {
      //First time
      if (this.prevScore == 0 && !this.completed) {
        return "first-time";
      }
      //Passed
      if (this.currentScore >= this.passMark && this.completed) {
        return "passed";
      }
      // Failed
      if (this.currentScore < this.passMark && this.completed) {
        return "failed";
      }
      // Failed and retaken
      if (this.prevScore < this.passMark && !this.completed) {
        return "failed-retaking";
      }
      // Passed and refreshing
      if (this.prevScore >= this.passMark && !this.completed) {
        return "passed-retaking";
      }
    }
  },
  methods: {
    toggleMore: function(e) {
      this.more = !this.more;
    }
  }
};
</script>
