<template>
    <div class="col-lg-4 col-md-6 col-sm-12 top-spacing">

    <div class="background d-flex">
      <img v-bind:src="image" alt="Course" class="preview-img">
      <div class="course-title">
        <div class="title"><a :href="connectprofile">{{ title }}</a></div>
        <div class="sub-title"> {{position}} </div>
        <a v-if="actionType == 'follow'" class="continue"  :href="action"><i class="fas fa-user-check"></i> Follow</a>
        <a v-else-if="actionType=='request'" class="continue"  ><i class="fas fa-hourglass-half"></i> Request Sent
          </a>
      
      
      <p v-else-if="actionType=='unfollow'" class="p-link ">
        <span>
      <a  class="unfollow" ><i class="fas fa-user-check"></i> Following
      </a></span>
      
   
      </p>
        
      </div>
    </div>

 
</div>
</template>

<style lang="scss" scoped>

  .background{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 4px 4px 8px #0000004D;
    margin: 0 0;
 .course-title{
   a.continue{
    font-size: 12px;
    color: #6BC7B8 !important;
    position: relative;
    top: 25%;
    float: left;
   }
  p.unfollow{
    position: relative;
    top: 25%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-evenly;
    float: left;
  a.unfollow{
    font-size: 12px;
    color: #6BC7B8 !important;
  }
  a.block{
    font-size: 12px;
    color: #7F7F7F !important;
    margin-left:25%;
  }
  }
  }
  
}
  .my-course{
    padding: 1% 0;
    border-bottom: 1px solid #ccc;
  .preview-img {
   height: 125px;
-o-object-fit: cover;
object-fit: cover;
padding: 0;
width: 30%;
flex: 0 0 30%;
  }
  .course-title {
    text-align: left;
    width: 100%;
    flex: unset;
    padding: 2%;
    .title {
      padding: 5px 0;
      a{
        font-size: 16px;
        color: #F18A21;
        text-align: left;
        background: none;
        padding: 0;
      }
    }
    .sub-title{
      font-size: 14px;
      color: #7F7F7F;
    }
    .innerstats{
      border: 1px solid #662F8E66;
      text-align: center;
      h5 {
        color: #662F8E;
        font-size: 15px;
        padding-top: 5%;
      }
      p{
      font-size: medium;
      text-align: center;
      padding: 0;
      color: #7C7C7C;
      }

  .stats{
    margin-left: -15px;
  }
    }
  }
}

.p-link{
  padding:0 !important;
  position: relative;
  top: 25%;
  text-align: left !important; 
  a.unfollow{
    font-size: 15px;
    color: #6BC7B8 !important;
  }
}

.drop-link{
float: right;
padding-right: 5px;

.whatsapp{
color: #30BF39;
font-size: 15px;
}
.phone{
color:#707070;
    font-size: 15px;
}
.eye{
color:#707070;
    font-size: 15px;
}
}
.btn{
  padding: unset;
}
.top-spacing{
  margin-top: 8px;
}

@media (max-width:1600px){
.p-link{
  padding:0 !important;
  position: relative;
  top: 6%;
  text-align: left !important; 
  a.unfollow{
    font-size: 15px;
    color: #6BC7B8 !important;
  }
}
}

@media (max-width: 767px) {
  .my-course{
    padding: 1% 0;
    border-bottom: 1px solid #ccc;
    .preview-img {
    height: 135px;
    width: 40%;
    flex: 0 0 40%;
    object-position: left;
    object-fit:initial;
  }
  
    div.unfollow{
    position: initial;
    top: auto;
    }
  }
 .p-link{
    span{
      display:block;
    }
   .drop-link{
    float: none;
    padding-right: 5px;
    padding-top:10px;
}
 }
}
</style>


<script>

import CourseAction from "./CourseAction.vue";

export default {
  components: {
    CourseAction,
   
  },
  data: function() {
    return {
      more: false,
      isModalVisible: false,
    
    };
  },
  props: [
    "title",
    "image",
    "status",
    "position",
    "action",
    "whatsapp",
    "email",
    "superpower",
    "contactconsent",
    "connectprofile"
  ],
  methods: {
    toggleMore: function(e) {
      this.more = !this.more;
    }
    
  },

  computed: {
    actionType: function() {
      if (this.status == 0) {
      return "follow";
      }
      if (this.status == 1) {
      return "request";
      }
      if (this.status == 2) {
        return "unfollow";
      }

      if (this.status == 2) {
        return "block";
      }

      if (this.status == 3) {
        return "unblock";
      }

    }
  }

};
</script>
