<template>
  <div class="row no-gutters my-course">
    <div class="col-2">
      <img v-bind:src="image" alt="Course" class="preview-img">
    </div>
    <div class="col-8">
    <div class="course-title">
      <div class="title"><a target="_blank"  :href="link">{{ title }}</a></div>
      <div class="sub-title"> Start Date: {{start}}  | {{enrolled}} people have enrolled</div>
        <div class="row" key="1" v-if="!more">
          <div class="col-3 stats">
          <div class="innerstats">
            <h5>Enrollment Date</h5>
            <p>{{date}}</p>
            </div>
          </div>
          <div class="col-3 stats">
          <div class="innerstats">
            <h5>Course End Date</h5>
            <p>{{end}}</p>
          </div>
          </div>
          <div class="col-3 stats c-progress">
          <div class="innerstats">
          <h5>Prev Score</h5>
          <p>{{prevScore}}%</p>
            </div>
          </div>

          <div class="col-3 stats">
          <div class="innerstats">
          <h5>Current Score</h5>
          <p>{{(currentScore)*100}}%</p>
            </div>
          </div>
        </div>
    </div>
    </div>
    <div class="col-2">
        <course-action
          mobile="0"
          :status="status"
          :prev-score="prevScore"
          :current-score="currentScore"
          :action="action"
          :owner="owner"
          :certcourse="cert_title"
          :dateissued="today"
          :count="count"
          :evaluate="evaluate"
          :evalaction="evalaction"
        ></course-action>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .my-course{
    padding: 0 0;
    border-bottom: 1px solid #ccc;
  .preview-img {
    width: 100%;
    height: unset;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 0 0;
  }
  .course-title {
    padding-left: 2%;
    text-align: left;
    .title {
      padding: 10px 0;
      a{
        color: #404040;
    font-weight: bold;
      }
    }
    .sub-title{
      font-size: 12px;
      color: #707070;
    }
    .row {
    margin-bottom: 1%;
    margin-top: 1%;
    }
    .innerstats{
    border: 1px solid #61A1D9;
    text-align: center;
      h5 {
        color: #5EA0DB;
        font-size: 14px;
        padding-top: 5%;
      }
      p{
        font-size: 14px
      }
    }
  }
}
</style>


<script>
import CourseAction from "./CourseAction.vue";

export default {
  components: {
    CourseAction
  },
  data: function() {
    return {
      more: false
    };
  },
  props: [
    "title",
    "image",
    "date",
    "start",
    "end",
    "enrolled",
    "progress",
    "status",
    "prevScore",
    "currentScore",
    "action",
    "link",
    "owner",
    "count",
    "evaluate",
    "evalaction",
    "today",
    "cert_title"
  ],
  methods: {
    toggleMore: function(e) {
      this.more = !this.more;
    }
  }
};
</script>
