<template>
  <div id="ppic">
    <div class="image" v-bind:style="{ backgroundImage: 'url(' + current + ')' }"></div>
  </div>
</template>

<style lang="scss" scoped>
.image {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  margin: auto;
  background-size: cover;
}
</style>


<script>
export default {
  props: ["current"],

};
</script>
