<template>
  <div class="row no-gutters my-course " v-bind:id="unique">
    <div class="col-2">
      <img v-bind:src="image" alt="Course" class="preview-img">
    </div>
    <div class="col-8">
    <div class="course-title">
      <div class="title"><a target="_blank" >{{ title }}</a></div>
      <div class="sub-title"> {{position}} | {{course}}</div>
        <div class="row" key="1" v-if="!more">
          <div class="col-3 ">
          <div class="innerstats">
            <h5>Enrollment Date</h5>
            <p>{{date}}</p>
            </div>
          </div>
          <div class="col-3 stats">
          <div class="innerstats">
            <h5>Completion Date</h5>
            <p>{{end}}</p>
          </div>
          </div>
          <div class="col-4 stats">

          <div class="achievements">
              <div
                v-for="achievement in achievements"
                v-bind:key="achievement.icon"
                class="achievement"
              >
                <img
                  :src="'/images/achievements/'+achievement.icon"
                  :alt="achievement.title"
                  data-toggle="tooltip"
                  data-placement="right"
                  :title="achievement.title"
                >
              </div>
              </div>
          </div>
        </div>
    </div>
    </div>
    <div class="col-2">
    <div class="action">
      <a class="continue" :href="likeaction"><p> <span class="icons"><i class="fas fa-thumbs-up"></i></span>  <span>Kudos</span>  <span class="numbers">{{likes}}</span></p></a>
      <a  class="continue"  ><p><span class="icons"><i class="fa fa-star" aria-hidden="true"></i></span> <span>Follow</span> <span class="numbers">{{followers}}</span></p></a>
      <a  class="continue" @click="isShowing ^= true" ><p><span class="icons"> <i class="fa fa-comment" aria-hidden="true"></i></span> <span>Comment</span> <span class="numbers">{{commentcount}}</span> </p></a>
    </div>
    </div>

    <div class="col-md-12 comment-section">
    <a v-if="actionType=='no-comment'" class="no-comment text-center"> No comments</a>
    <a v-else-if="actionType=='has-comment'" @click="isComment ^= true" class="view-comment text-center" style="font-size: 17px;"> View all comments on this milestone <i class="fa fa-angle-down" aria-hidden="true"></i></a>

     <div v-show="isComment" class="comment-inner">
      <div v-for="comment in comments" :key="comment.id" class="com">

      <div class="course-title">
         <div class="title">{{ comment.name }}</div>
         <div class="sub-title"> {{comment.position}} | {{comment.course_name}} <span>{{comment.created_at}}</span></div>
         <div class="row" >
         <div class="col-md-12">
         <p class="text-left">{{comment.comment}}</p>
         </div>


         </div>

         <div class="col-md-12">
         <div class="row lower-action">
           <div class="col-md-12 text-right">
             <!-- <a class="continue">{{getSubCommentCount(comment.id)}} Replies</a> -->
           <a  class="btn btn-overall purple-borderd comment-btn" @click="isCommentLevel ^= true" > Add a Comment <i class="fas fa-arrow-down" style="font-size: 1rem;"></i></a>
           </div>

           </div>
           </div>

           <div v-show="isCommentLevel" class="col-md-6 offset-md-2 comment">
           <form :action="commentaction" method="POST" class="search">
                 <input type="hidden" name="_token" :value="csrf" />
                <input type="hidden"  v-bind:value="follow" name="follow">
                 <input type="hidden"  v-bind:value="courseid" name="course" >
                 <input type="hidden"  v-bind:value="comment.id" name="unique" >
                 <textarea  rows="4" cols="80" name="comment"> </textarea>
                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 offset-md-1 offset-lg-4">
                 <div class="row">
                   <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                     <button  type="submit" class="btn btn-overall purple comment-save-btn" > Submit <i class="fas fa-arrow-right" style="font-size: 1rem;"></i> </button>&nbsp;
                     </div>
                       <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                     <a  class="btn btn-overall white comment-cancel-btn" @click="isShowing ^= true" style="padding:1.2% 5% "> Cancel </a>
                     </div>
                 </div>
               </div>
           </form>

         </div>
     </div>
      </div>
     </div>

    </div>

  <div v-show="isShowing" class="col-md-6 offset-md-2 comment">
  <form :action="commentaction" method="POST" class="search">
        <input type="hidden" name="_token" :value="csrf" />
       <input type="hidden"  v-bind:value="follow" name="follow">
        <input type="hidden"  v-bind:value="courseid" name="course" >
        <input type="hidden"   name="unique" >
        <textarea  rows="4" cols="80" name="comment"> </textarea>
        <div class="col-md-8 offset-md-3">
      <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
          <button  type="submit" class="btn btn-overall purple comment-save-btn" > Submit <i class="fas fa-arrow-right" style="font-size: 1rem;"></i> </button>&nbsp;
          </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
          <a  class="btn btn-overall white comment-cancel-btn" @click="isShowing ^= true" style="padding:1.2% 5% "> Cancel </a>
          </div>
      </div>
      </div>
  </form>

</div>
  </div>
</template>

<style lang="scss" scoped>

  .achievements{
      display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    align-content: center;
    text-align: center;
    .achievement {
      text-align: center;
      img {
        cursor: pointer;
      }
    }
    img{
    margin-right: 5px;
    }
  }

  .my-course{
    padding: 1% 0;
    border-bottom: 1px solid #ccc;
  .preview-img {
   width: 100%;
    height: 150px;
    -o-object-fit: cover;
    object-fit: contain;
    padding: 0;
  }
  .course-title {
    text-align: left;
    .title {
      padding: 5px 0;
      a{
      font-size: 16px;
      color: #6BC7B8;
      text-align: left;
      background: none;
      padding: 0;
      }
    }
    .sub-title{
      font-size: 14px;
      color: #707070;
    font-weight: bold;
    }
    .row {
    margin-bottom: 1%;
    margin-top: 1%;
    }
  .innerstats{
    border: 1px solid #EF8A32;
    text-align: center;
      h5 {
        color: #EF8A32;
        font-size: 15px;
        padding-top: 5%;
      }
      p{
      font-size: medium;
    text-align: center;
    padding: 0;
    color: #707070;
      }

  stats{
  margin-left: -15px;
  }
    }
  }
}
.detail-card .course-content{
.action {
display: grid;
    position: absolute;
    right: 0;
    bottom: 8%;
    width: 80%;
  a {
    padding: 0;
    margin-top: 5px;
    color: #F87522  !important;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    background: #FCF7F7;
  }
  a:hover{
  text-decoration: none;
  }
  p{
    margin: 0;
    padding: 0;
    color: #05B4CB !important;
    text-align: unset;
    span.icons{
    float: left;
    background: #F87522 ;
    width: 25%;
    height: auto;
    color: #fff;
    padding: 5px;
    text-align: center;
    }
    span {
    float: left;
    padding: 4% 5%;
    }
    span.numbers{
    float: right;
    border-left: 1px solid #fff;
    width: 20%;
    }
    }
  }
}

.comment{
  margin-top: 20px;
  a.canceled{
  display: initial !important;
    background: #fff !important;
    padding: 1% 4%;
    border: 2px solid #23245f;
    text-align: center;
    border-radius: 2rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 0;
    flex-grow: 1;
    cursor: pointer;
  }

}

 .comment-section{

 .com{
     border-bottom: 1px solid #ccc;
   }
  .no-comment{
    display:none;
    }
  .view-comment{
    display:block;
    background:#fff;
    padding:0 !important;
    color:#999999;
    cursor: pointer;
  }

  .comment-inner{
    background: #FCF7F7;
    padding: 1% 0;
    height: auto;
    overflow: auto;
   .course-title {
     text-align: left;
     padding: 20px;
     padding-top: 5px;
     .title {
       padding: 5px 0;
       font-size: 15px;
      color: #6BC7B8;
       text-align: left;
       background: none;
       padding: 0;
     }
     .sub-title{
       font-size: 12px;
       color: #707070;
       font-weight: bold;
      span{
         float: right;
         font-size: 12px;
          color: #707070;
      }
     }
    .row {
     margin-bottom: 1%;
     margin-top: 0;
      p{
        color:#666666;
        font-size:15px;
        padding: 1% 0;
      }
    }
  a.continue{
    background: #23245F;
    padding: 0.75% 2.5%;
    color: #fff !important;
    font-size: 14px !important;
    border-radius: 28px;
  }
  a.purple-borderd{
    padding: 0.15% .5%;
    border: 2px solid #F87522;
    color: #fff;
    background: #F87522;
    font-size: 12px;
  }
.comment-save-btn {
    font-size: 14px;
   }
.comment-cancel-btn {
    font-size: 14px;
}
.comment-btn:hover{
  background: unset;
  }
 .lower-action{
     p{
       padding:5px !important;
       color: #fff ;
       font-size: 14px !important;
       float: right;
       text-align:center !important;
       span{
       padding-right: 5px;
       margin-right: 5px;
      }
     .numbers{
       float: right;
       border: left;
       border-left: 1px solid;
       padding-left: 5px;
      }
     .icons{
      float: left;
      }
    }
     a.canceled{
       display: initial !important;
       background: #fff !important;
       padding: 1%;
       border: 2px solid #49237E;
       text-align: center;
       border-radius: 2rem;
       position: relative;
       z-index: 0;
       overflow: hidden;
       margin: 0;
       flex-grow: 1;
       cursor: pointer;
       color: #49237E;
       float: right;
      }
    }
  }
  .replies{
    color:#313131;
    float:left;
    }
  }
}

 @media (max-width: 1444px) {
 .action{
   top:0px;
 }

 }
.comment-save-btn {
    font-size: 14px;
   }
.comment-cancel-btn {
    font-size: 14px;
}
</style>


<script>
import FeedAction from "./FeedAction.vue";
import axios from "axios";

export default {
  components: {
    FeedAction
  },
  data: function() {
    return {
      more: false,
      isShowing:false,
      isComment:false,
      isCommentLevel:false,
      passMark: 0.8,
      csrf: document.head.querySelector('meta[name="csrf-token"]').content,

      comments: {},
      subCommentCount:{},
      subComment:{},
      commentlikes:{},

    };
  },
  props: [
    "title",
    "image",
    "date",
    "start",
    "end",
    "enrolled",
    "progress",
    "status",
    "position",
    "prevScore",
    "currentScore",
    "likes",
    "likeaction",
    "action",
    "course",
    "unique",
    "followers",
    "commentcount",
    "commentaction",
    "follow",
    "courseid",
    "mylike",
  ],
  methods: {
    toggleMore: function(e) {
      this.more = !this.more;
    },
    getBlockComment(){
      axios.get('/profile/comments/'+this.follow+'/'+this.courseid).then((response)=>{
        
             this.comments = response.data.details
             console.log(this.comments);
    })
   },
   getSubCommentCount:function(id){
   axios.get('/profile/subCommentCount/'+this.follow+'/'+this.courseid+'/'+id).then((response)=>{

          return response.data.count;
     })
   },
   getSubComment(id){
   axios.get('/profile/subComment/'+this.follow+'/'+this.courseid+'/'+id).then((response)=>{
          this.subComment = response.data.subdetails
     })
   },
   getCommentLikes(){

   },
   getCommentFollow(){

   }

  },
  created() {
   this.getBlockComment()
   this.getSubComment()
  this.getSubCommentCount()
},
  computed: {
  achievements: function() {
    const achieved = [];

    //console.log(this.mylike);

    if (this.status == "Completed") {
      this.completed = true;
    }
    //console.log(this.status);

    //Started course
    if ((this.status == "In Progress") || (this.completed) || (this.status == "Completed but Failed")) {
      achieved.push({
        icon: "Icon_Start_Course.png",
        title: "Has started the course!"
      });
    }

    //Scored more than 79%
    if ((this.completed) || (this.status == "Completed but Failed")) {
      achieved.push({
        icon: "Icon_1_Star.png",
        title: "Has completed the course but is yet to hit the 70% passmark!"
      });
    }


    //Finished course
    if ((this.completed) & (this.currentScore >= 0.7)) {
     achieved.push({
        icon: "Icon_Finished_Course.png",
        title: "Has completed the module!"
      });
    }
    return achieved;
  },

actionType: function() {
    if (this.commentcount == 0) {
      return "no-comment";
    }
    if (this.commentcount > 0) {
      return "has-comment";
    }

    },

   likeType: function() {
        if (this.mylike == 0) {
          return "no-like";
        }
        if (this.mylike > 0) {
          return "has-like";
        }

        }
  }
};
</script>

